[submodule "agave"]
	path = agave
	url = https://github.com/esemeniuc/agave.git
[submodule "src/disco/bam/proto/bam-protos"]
	path = src/disco/bam/proto/bam-protos
	url = https://github.com/jito-labs/bam-protos.git
